<div class="header d-flex">
    <div class="head p-3 m-3 d-flex justify-content-center align-items-center">
        <div class="greet d-flex justify-content-center flex-column align-items-left mx-2">
            <h3 class="greeting"><b>Welcome Back Kaustubh!</b></h3>
            <h5 class="notification_heading">You have 24 notifications</h5>
        </div>
        <div class="buttons d-flex justify-content-end">
            <button class="notification_button btn mx-1 justify-content-center align-items-center d-flex">9 Awaiting
                Approvals</button>
            <button class="notification_button btn mx-1 justify-content-center align-items-center d-flex">6 Pending
                Task</button>
            <button class="notification_button btn mx-1 justify-content-center align-items-center d-flex">8
                Requests</button>
            <button class="notification_button btn mx-1 justify-content-center align-items-center d-flex">Flash
                News</button>
        </div>
    </div>
    <div class="profile px-3 my-3 d-flex justify-content-between align-items-center">
        <img class="rounded-circle" src="assets\img\images.jpg" height="40" width="40" alt="Profile Image">
        <div class="greet d-flex justify-content-center flex-column align-items-start mx-2">
            <h3 class="profile_name"><b>Kaustubh Mestri <i class='bx bxs-down-arrow'></i></b></h3>
            <h5 class="profile_position">Hr, Executive</h5>
        </div>
    </div>
    <div class="profile px-3 my-3 mx-3 d-flex justify-content-between align-items-center">
        <mat-icon>mail</mat-icon>
    </div>
</div>
