<div class="tabs_">
    <mat-tab-group mat-align-tabs="start" class="tab_div">
        <mat-tab label="Business Solution">
            <app-bussiness-soln style="overflow: hidden;" class="mx-5"></app-bussiness-soln>
        </mat-tab>
        <mat-tab label="AID">
            <app-aid style="overflow: hidden;" class="mx-5"></app-aid>
        </mat-tab>
        <mat-tab label="Group HR, Admin and EHS">
            <app-hr style="overflow: hidden;" class="mx-5"></app-hr>
        </mat-tab>
        <mat-tab label="SAMEA">
            <app-samea style="overflow: hidden;" class="mx-5"></app-samea>
        </mat-tab>
    </mat-tab-group>
</div>