<div class="menu d-flex flex-column align-items-center justify-contents-center p-2">
    <img src="assets\img\logo.png" alt="Logo" height="50" width="50">
    <a matTooltipPosition="right" matTooltip="Home" href=""><mat-icon class="menu_icons my-3 p-4 d-flex align-items-center justify-content-center">home</mat-icon></a>
    <a matTooltipPosition="right" matTooltip="Dashboard" href=""><mat-icon class="menu_icons my-3 p-4 d-flex align-items-center justify-content-center">dashboard</mat-icon></a>
    <a matTooltipPosition="right" matTooltip="Phone Book" href=""><mat-icon class="menu_icons my-3 p-4 d-flex align-items-center justify-content-center">call</mat-icon></a>
</div>
