
<div class="accordions mx-5 my-4">
    <mat-accordion>
        <mat-expansion-panel class="my-3 accordion_box">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Business Solution
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a class="button_modal" (click)="openDialog()"><i class='bx bx-link-external mx-3'></i>{{newEvent_form}}</a><br>
            <!-- <a class="button_modal" (click)="openDialog()"><i class='bx bx-link-external mx-3'></i>{{accordian_title}}</a><br>
            <a class="button_modal" (click)="openDialog()"><i class='bx bx-link-external mx-3'></i>{{accordian_title}}</a><br> -->
        </mat-expansion-panel>
        <!-- <mat-expansion-panel class="my-3 accordion_box">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Business Solution
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a class="button_modal" (click)="openDialog()">Information Security Awareness</a><br>
            <a class="button_modal" (click)="openDialog()">Alert Mail _ Security</a><br>
            <a class="button_modal" (click)="openDialog()">Fake COVID vaccine registration App</a><br>
        </mat-expansion-panel>
        <mat-expansion-panel class="my-3 accordion_box">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Business Solution
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a class="button_modal" (click)="openDialog()">Information Security Awareness</a><br>
            <a class="button_modal" (click)="openDialog()">Alert Mail _ Security</a><br>
            <a class="button_modal" (click)="openDialog()">Fake COVID vaccine registration App</a><br>
        </mat-expansion-panel>
        <mat-expansion-panel class="my-3 accordion_box">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Business Solution
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a class="button_modal" (click)="openDialog()">Information Security Awareness</a><br>
            <a class="button_modal" (click)="openDialog()">Alert Mail _ Security</a><br>
            <a class="button_modal" (click)="openDialog()">Fake COVID vaccine registration App</a><br>
        </mat-expansion-panel>
    </mat-accordion>
</div> -->
<!-- <app-add-event-form></app-add-event-form> -->
<div (click)="show_addevent()" class="add_event d-flex justify-content-center align-items-center">
    <mat-icon>add</mat-icon>Add New Event
</div>