app-tabs{
    /* width: 1000px; */
    margin-top: 12%;
    margin-left: 14%;
    margin-right: 10%;
    z-index: 5;
}
/* app-accordion{
    width: 100%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
} */
.home_content{
    width: 74em;
}
app-gallery{
    width: 15%;
    height: 20%;
    margin-top: 10%;
    position: fixed;
    margin-left: 68%;
    z-index: 100;
}
app-calender{
    position: absolute;
    margin-top: 350px;
    z-index: 10;
}