app-accordion{
    width: 70%;
    margin-top: 7%;
    margin-left: 5%;
}
app-gallery{
    width: 30%;
    margin-top: 7%;
}
app-calender{
    position: absolute;
    margin-top: 350px;
    margin-right: 100%;
    z-index: 100;
}