<mat-nav-list>
    <a class="d-flex flex-row" href="#" mat-list-item>
        <img src="assets\img\images.jpg" alt="pratik patil" class="rounded-circle mr-3" height="50" width="50">
        <div>
            <span mat-line><b>Pratik Patil</b></span>
            <span mat-line><b>Lorem ipsum dolor sit amet consectetur adipisicing e....</b></span>
        </div>
    </a>

    <a href="#" mat-list-item>
        <img src="assets\img\images.jpg" alt="pratik patil" class="rounded-circle mr-3" height="50" width="50">
        <div>
            <span mat-line><b>Chirag Tank</b></span>
            <span mat-line><b>Lorem ipsum dolor sit amet consectetur adipisicing e....</b></span>
        </div>
    </a>

    <a href="#" mat-list-item>
        <img src="assets\img\images.jpg" alt="pratik patil" class="rounded-circle mr-3" height="50" width="50">
        <div>
            <span mat-line>Bhavesh Sharma</span>
            <span mat-line>Lorem ipsum dolor sit amet consectetur adipisicing e....</span>
        </div>
    </a>

    <a href="#" mat-list-item>
        <img src="assets\img\images.jpg" alt="pratik patil" class="rounded-circle mr-3" height="50" width="50">
        <div>
            <span mat-line>Gautam Maurya</span>
            <span mat-line>Lorem ipsum dolor sit amet consectetur adipisicing e....</span>
        </div>
    </a>
    <a href="#" mat-list-item>
        <img src="assets\img\images.jpg" alt="pratik patil" class="rounded-circle mr-3" height="50" width="50">
        <div>
            <span mat-line>Sonal Lalwani</span>
            <span mat-line>Lorem ipsum dolor sit amet consectetur adipisicing e....</span>
        </div>
    </a>

    <a href="#" mat-list-item>
        <img src="assets\img\images.jpg" alt="pratik patil" class="rounded-circle mr-3" height="50" width="50">
        <div>
            <span mat-line>Ashwini Poojari</span>
            <span mat-line>Lorem ipsum dolor sit amet consectetur adipisicing e....</span>
        </div>
    </a>

    <a href="#" mat-list-item>
        <img src="assets\img\images.jpg" alt="pratik patil" class="rounded-circle mr-3" height="50" width="50">
        <div>
            <span mat-line>Shubham Bhalerao</span>
            <span mat-line>Lorem ipsum dolor sit amet consectetur adipisicing e....</span>
        </div>
    </a>

    <a href="#" mat-list-item>
        <img src="assets\img\images.jpg" alt="pratik patil" class="rounded-circle mr-3" height="50" width="50">
        <div>
            <span mat-line>Pradnya Patil</span>
            <span mat-line>Lorem ipsum dolor sit amet consectetur adipisicing e....</span>
        </div>
    </a>
</mat-nav-list>